<!DOCTYPE html>
<html>
  <head>
    <title>LifestyleBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/latest/normalize.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body id="app_body">
    <nav class="nav_bar">
      <h1 class="brand-logo">
        Aburi Blog
      </h1>

      <ul class="nav_center">
        <li><a href="/">Home</a></li>
        <li><a href="<%= new_article_path %>">Write an Article</a></li>
      </ul>

      <span class="nav_right">
        <a href="/logout">LOGOUT</a>
      </span>
    </nav>
    
    <%= yield %>

    <footer>
      <h1 class="brand-logo foot_logo">
        Aburi Blog
      </h1>

      <p class="footer_center">
        <a href="#">Privacy Policy Terms & Conditions</a>
        <span>Copyright <%= Time.now.year %>. All rights reserved.</span>
      </p>
    </footer>
    
  </body>
</html>
