<!DOCTYPE html>
<html>
  <head>
    <title>LifestyleBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/latest/normalize.css">
    <%= stylesheet_link_tag 'forms', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body id="forms_body">
    <%= notices? %>
    <%= yield %>
  </body>
</html>
